
body
{
    padding: 0;
    margin: 0;
    background-color: #000000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -ms-touch-action: none;
}

#main 
{
    display: none;
    position: absolute;
    background-image:url('../images/cover.jpg');
    background-repeat:repeat-y;
    width: 400px;
    height: 800px;
}

#canvas
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 400px;
    margin: 0px;
    z: 1
}

#info-label
{
    position: absolute;
    margin-top: 0px;
    width: 400px;
    height: 400px;
    color: #eeeeee;
    font-size: 50px;
    font-family: ariel;
    text-align: center;
    z: 2
}

.arrow 
{
    overflow: hidden;
    width: 93px;
    height: 93px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#joystick
{
    display: none;
    border-collapse: collapse;
    position: absolute;
    top: 452px;
    left: 55px;
    width: 280px;
    height: 280px;
    font-size: 50px;
    text-align: center;
    color: #666666;
    background-image: url('../images/joystick.png');
    background-size: 100%;
    font-weight:bold;
    font-family:arial;
    text-decoration:none;
    text-shadow:2px 2px 0px #ffffff;
}

#button
{
    display: none;
    position: absolute;
    top: 550px;
    left: 55px;
    height: 80px;
    width: 300px;
    color: #666666;
    background-image: url('../images/button.png');
    font-size: 35px;
    text-align: center;
    font-weight:bold;
    font-family:arial;
    text-decoration:none;
    text-shadow:2px 2px 0px #ffffff;
    line-height: 80px;
}

#preload-dummy1
{
    background-image: url('../images/level-background.jpg');
    top: -9999px;
}

#preload-dummy2
{
    background-image: url('../images/logo.jpg');
    top: -9999px;
}

#preload-dummy3
{
    background-image: url('../images/joystick.png');
    top: -9999px;
}

#preload-dummy4
{
    background-image: url('../images/button.png');
    top: -9999px;
}